body {
background-color: rgb(153, 0, 127);
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 315px;
    border: 3px solid red;
    margin-bottom: 20px;
}

.child {
    width: 100px;
    height: 100px;
    border: 3px solid red;

}

.box2 {
    width: 700px;
    height: 315px;
    border: 3px solid red;
    margin-bottom: 20px;
}

.child2 {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid red;
}
